{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    <div class="col-md-10">
        <h1>{{ invoice.name }}</h1>
      </div>
      <div class="col-md-2">
        {% if request.user == invoice.owner %}
        <a href="{% url 'invoice-update' invoice.id %}" class="btn btn-primary btn-lg btn-block" role="button">Update invoice</a>
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-condensed">
          <thead>
            <tr>
              <th>Description</th>
              <th class="col-md-1">Quantity</th>
              <th class="col-md-1">Amount</th>
              <th class="col-md-1">VAT</th>
              <th class="col-md-1">Total</th>
            </tr>
          </thead>
          <tbody>
            {% for item in invoice.items.all %}
            <tr>
              <td>{{ item.description }}</td>
              <td class="col-md-1 text-right">{{ item.quantity }}</td>
              <td class="col-md-1 text-right">{{ item.amount }}</td>
              <td class="col-md-1 text-right">{{ item.vat }}%</td>
              <td class="col-md-1 text-right">{{ item.gross_total }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        <div class="row text-right">
          <div class="col-xs-2 col-xs-offset-8">
            <p>
              <strong>
                Sub Total : <br>
                TAX : <br>
                Total : <br>
              </strong>
            </p>
          </div>
          <div class="col-xs-2">
            <strong>
              {{ invoice.net_total }} <br>
              {{ invoice.vat_total }} <br>
              {{ invoice.gross_total }} <br>
            </strong>
          </div>
        </div>

    </div>
</div>

{% if invoice.is_published or invoice.is_draft %}
<div class="well well-sm">
{% if invoice.is_published %}
  <a href="{% url 'invoice-paid' invoice.id %}" class="btn btn-success btn-lg" role="button">Paid</a>
  <a href="{% url 'invoice-cancel' invoice.id %}" class="btn btn-danger btn-lg" role="button">Cancel</a>
{% endif %}
{% if invoice.is_draft %}
  <a href="{% url 'invoice-validate' invoice.id %}" class="btn btn-success btn-lg" role="button">Validate</a>
  <a href="{% url 'invoice-cancel' invoice.id %}" class="btn btn-danger btn-lg" role="button">Cancel</a>
{% endif %}
</div>
{% endif %}

<div class="media">
    {% for comment in invoice.comments.all %}
        <a class="pull-left" href="#">
          <img class="media-object img-circle" src="http://placehold.it/64x64" alt="">
        </a>
        <div class="media-body">
          <h4 class="media-heading">{{ comment.user }}</h4>
          {{ comment.comment }}
        </div>
    {% endfor %}
</div>

<div class="row">
    <div class="col-md-12">
      {% crispy comment_form %}
    </div>
</div>

{% endblock content %}
