{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block extra-css %}
    <link href="{% static 'css/chosen.min.css' %}" rel="stylesheet">
{% endblock extra-css %}

{% block extra-js %}
<script type="text/javascript" src="{% static 'js/chosen.jquery.min.js' %}"></script>
<script type="text/javascript">
  $(".chosen-select").chosen({disable_search_threshold: 10});
</script>

<script type="text/javascript">
var django = {
    "jQuery": jQuery
};
</script>
<script type="text/javascript" src="{% static 'admin/js/inlines.js' %}"></script>

{% with formset.prefix as prefix %}
<script type="text/javascript">
  (function() {
    $('.invoiceitem').formset({
      prefix: '{{ prefix }}',
      //addText: 'Add',
      //addCssClass: 'add_child',
      addButtonId: 'new_line',
      deleteText: '',
      deleteCssClass: 'remove_child',
      emptyCssClass: 'empty-form'
    });
  })(django.jQuery);
</script>
{% endwith %}

<script type="text/javascript">
  (function(){
    $('form a.remove_child').on('click', function() {
      $(this).trigger('before');
      var line = $(this).parent().parent().first();
      console.log(line);
      var field = line.find('#id_items-0-DELETE').first();
      console.log(field);
      if (field) { field.prop('checked', true); }
      line.hide();
      $(this).trigger('complete');
      return false;
    });
  })(django.jQuery);
</script>
{% endblock extra-js %}


{% block content %}
<style>
.empty-form {
    display: none;
}
</style>
<div class="row">
    <div class="col-md-12">
      <form action="" class="" method="POST">

        <div class="form-horizontal">
            {% crispy form form.helper %}
        </div>

        <div class="row">
            <div class="form-inline col-md-10 col-md-offset-2">
                {% crispy formset formset_helper %}
            </div>
        </div>

        <div class="row">
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" name="submit" value="Submit" class="btn btn-primary" id="submit-id-submit">
              </div>
            </div>
        </div>

      </form>
    </div>
</div>

{% endblock content %}
