{% load crispy_forms_tags %}
{% load crispy_forms_utils %}
{% load crispy_forms_field %}

{% specialspaceless %}
{% if formset_tag %}
<form {{ flat_attrs|safe }} method="{{ form_method }}" {% if formset.is_multipart %} enctype="multipart/form-data"{% endif %}>
{% endif %}
    {% if formset_method|lower == 'post' and not disable_csrf %}
        {% csrf_token %}
    {% endif %}

    <div>
        {{ formset.management_form|crispy }}
    </div>

    <table{% if form_id %} id="{{ form_id }}_table"{% endif%} class="table table-striped table-condensed">
        <thead>
          {% if formset.readonly and not formset.queryset.exists %}
          {% else %}
              <tr>
                  {% for field in formset.forms.0 %}
                      {% if field.label and not field.is_hidden %}
                          <th for="{{ field.auto_id }}" class="control-label {% if field.field.required and not field|is_checkbox %}requiredField{% endif %}">
                              {{ field.label|safe }}{% if field.field.required and not field|is_checkbox %}<span class="asteriskField">*</span>{% endif %}
                          </th>
                      {% endif %}
                  {% endfor %}
                  <th></th>
              </tr>
          {% endif %}
        </thead>

        <tbody>
            {% for form in formset %}
                {% if form_show_errors and not form.is_extra %}
                    {% include "bootstrap/errors.html" %}
                {% endif %}

                <tr class="invoiceitem" id="{{ formset.prefix }}-{{ forloop.counter0 }}">
                    {% for field in form %}
                        {% include 'bootstrap/field.html' with tag="td" form_show_labels=False %}
                    {% endfor %}
                    <td>
                        <a class="glyphicon glyphicon-remove remove_child" relatedid="{{ form.id.value }}"></a>
                    </td>
                </tr>
            {% endfor %}

            {% with formset.prefix as prefix %}
            {% with formset.empty_form as form %}
            <tr class="invoiceitem empty-form"  id="{{ prefix }}-empty" >
                {% with form.description as field %}
                    {% include 'bootstrap/field.html' with tag="td" form_show_labels=False %}
                {% endwith %}
                {% with form.quantity as field %}
                    {% include 'bootstrap/field.html' with tag="td" form_show_labels=False %}
                {% endwith %}
                {% with form.vat as field %}
                    {% include 'bootstrap/field.html' with tag="td" form_show_labels=False %}
                {% endwith %}
                {% with form.amount as field %}
                    {% include 'bootstrap/field.html' with tag="td" form_show_labels=False %}
                {% endwith %}
                {% with form.id as field %}
                    {% include 'bootstrap/field.html' with tag="td" form_show_labels=False %}
                {% endwith %}
                <td id="div_id_items-{{prefix}}-DELETE" class="control-group">
                  <div class="controls">
                    <input class="hidden checkboxinput checkbox" id="id_items-{{prefix}}-DELETE" name="items-{{prefix}}-DELETE" type="checkbox">
                  </div>
                </td>
                <td>
                    <a class="glyphicon glyphicon-remove remove_child"></a>
                </td>
            </tr>
            {% endwith %}
            {% endwith %}


        </tbody>
    </table>

    {% if inputs %}
        <div class="form-actions">
            {% for input in inputs %}
                {% include "bootstrap/layout/baseinput.html" %}
            {% endfor %}
        </div>
    {% endif %}
{% if formset_tag %}</form>{% endif %}

{% endspecialspaceless %}